.ReactModal__Content {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    color: red;
    background-color: rgb(20, 19, 19);
    border: 1px solid
}

button {
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}

.paragraph-confirm {
    margin-bottom: 15px;
}

.button-confirm{
    margin: 4px;
}