.groupes{
    display: flex;
    flex-direction: column;
    margin: 0 60px;
    gap: 30px;      /*gap entre tous les élements de la liste*/
    
}

.element-liste{
    display: flex;
    height: 8vh;
    align-items: center;
    gap: 45px;
    background-color: white;
    border-radius: 18px;
    color: black;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    padding: 0 calc(10px + 3vw);
}

.boutons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 20%;
}

.groupe{
    width: 40%;
}

.affiche{
    text-align: right;
    align-items: center;
    width: 20%;
}

.affiche:hover{
    cursor: pointer;
    text-decoration: underline;
}