.absences{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2.2vh 1vw;
    font-size: calc(5px + 0.75vw);
}

.groupes-absences{
    background-color: rgb(255, 255, 255);
    width: calc(150px + 15vw);
    color: black;
    height: fit-content;
    margin: 10px;
    border-radius: 18px;
    overflow: hidden;
}

.groupe{
    display: flex;
    margin: calc(5px + 1vh) calc(5px + 1vw);
    font-size: 1.5vw;
}

.element-absences{
    display: flex;
    margin: calc(5px + 1vh) calc(5px + 1vw);
}


.nom{
    width: 80%;
}

.presence{
    width: 20%;
    text-align: right;
}