.filtres{
    display: flex;
    gap: calc(4vw);
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    background-color: rgb(94, 94, 94);
    border-radius: 25px;
    overflow: hidden;
}

.select{
    width: 200px;
    border-radius: 7px;
    padding: 7px;
    height: 45px;
    min-width: 170px;
}

.select:hover{
    cursor: pointer;
}

.select-default {
    color: rgb(180, 180, 180);
}

.button-rectangle{
    width: 150px;
    height: 37px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
    padding: 7px;
    margin: 0px;
}

.button-rectangle:hover{
    cursor: pointer;
}

#date-input-Filtres {
    padding: 0px;
    height: 45px;
}

#button-afficher-Filtres {
    display: flex;
    align-items: center;
}