.filtres{
    display: flex;
    gap: calc(10px + 5vw);
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    background-color: rgb(94, 94, 94);
    border-radius: 25px;
    overflow: hidden;
}

.select{
    width: 17vw;
    border-radius: 7px;
    padding: 7px;
    height: 5vh;
}

.select:hover{
    cursor: pointer;
}

.button-rectangle{
    width: 150px;
    height: 37px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
}

.button-rectangle:hover{
    cursor: pointer;
}